body {
  font-family: 'Amatic SC', sans-serif;
  font-size: 20px;
  line-height: 1;
  background-color: #dff5e4;
}

/* styling for currentDay */

#currentDay {
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0.1rem 0.1rem #dca9f0
}

textarea {
  font-size: 2rem;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  width: 100%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

/* adjusted row height */
.row {
  white-space: pre-wrap;
  height:auto;
  border-top: 1px solid white;
  margin-top: -10px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

/* removed rounded borders so it sat neatly against the clear button */
.saveBtn {
  border-left: 1px solid black;
  background-color: #06aed5;
  color: white;
}

.saveBtn, .clearBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* adding styling for clear button */

.clearBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #b41948;
  color: white;
}
